#s-8a34c471-a33d-4961-85a6-404391a5ef70 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8a34c471-a33d-4961-85a6-404391a5ef70 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8a34c471-a33d-4961-85a6-404391a5ef70 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8a34c471-a33d-4961-85a6-404391a5ef70 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8a34c471-a33d-4961-85a6-404391a5ef70 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8a34c471-a33d-4961-85a6-404391a5ef70 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8a34c471-a33d-4961-85a6-404391a5ef70 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}