#s-2520b2f6-cbec-4548-b7ad-5dd624b2c868 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2520b2f6-cbec-4548-b7ad-5dd624b2c868 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}