#s-49d1483b-ab04-454e-8d85-339079f69848 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49d1483b-ab04-454e-8d85-339079f69848 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}