#s-81b1a94c-9d3d-46da-bbe8-5d2239041642 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81b1a94c-9d3d-46da-bbe8-5d2239041642 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}