#s-9814499c-7fa1-4849-85f6-4db51d52cd20 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9814499c-7fa1-4849-85f6-4db51d52cd20 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}