#s-ae150078-9428-48c0-af07-874c6af51b8f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae150078-9428-48c0-af07-874c6af51b8f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}