#s-eee848a8-0433-46a9-978d-f1aa1d0f9195 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-eee848a8-0433-46a9-978d-f1aa1d0f9195 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-eee848a8-0433-46a9-978d-f1aa1d0f9195 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-eee848a8-0433-46a9-978d-f1aa1d0f9195 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}